In [3]:
import pandas as pd

In [4]:
path_2019='../Dados/obitos-2019.csv'
path_2020='../Dados/obitos-2020.csv'

In [6]:
dados_2019 = pd.read_csv(path_2019)

dados_2020 = pd.read_csv(path_2020)

In [18]:
print(f"Forma da base de 2019: {dados_2019.shape}\nForma da base de 2020: {dados_2020.shape}")

Forma da base de 2019: (12385, 6)
Forma da base de 2020: (14921, 6)

In [20]:
dados_2019.sample(5)

,uf,tipo_doenca,local_obito,faixa_etaria,sexo,total
2546,AL,INSUFICIENCIA_RESPIRATORIA,OUTROS_SERVICOS_SAUDE,30 - 39,F,1
12099,PR,PNEUMONIA,HOSPITAL,N/I,F,14
5254,PI,INSUFICIENCIA_RESPIRATORIA,HOSPITAL,50 - 59,F,59
6066,GO,INDETERMINADA,OUTRO,60 - 69,F,3
8925,MT,PNEUMONIA,IGNORADO,80 - 89,F,11

### Desafio 01 - Verificar como são classificados os dados

Disponivel o dicionario do registro de obito [aqui](https://transparencia.registrocivil.org.br/covid/dicionario_covid-19.pdf)

Fim do Desafio

In [23]:
#Verificando se tem todos os estados
len(dados_2019.uf.unique())

27

In [24]:
dados_2019['tipo_doenca'].unique()

array(['OUTRAS', 'INDETERMINADA', 'INSUFICIENCIA_RESPIRATORIA',
       'PNEUMONIA', 'SEPTICEMIA', 'SRAG', 'COVID'], dtype=object)

In [27]:
dados_2019['tipo_doenca'].value_counts()

OUTRAS                        3847
PNEUMONIA                     2353
INSUFICIENCIA_RESPIRATORIA    2324
SEPTICEMIA                    2065
INDETERMINADA                 1308
SRAG                           487
COVID                            1
Name: tipo_doenca, dtype: int64

In [35]:
dados_2020['tipo_doenca'].value_counts()

OUTRAS                        3801
INSUFICIENCIA_RESPIRATORIA    2334
PNEUMONIA                     2214
COVID                         2112
SEPTICEMIA                    2031
INDETERMINADA                 1347
SRAG                          1082
Name: tipo_doenca, dtype: int64

### Desafio 02 - Fazer o somatorio dos valores e não a contagem

In [37]:
dados_2019.groupby('tipo_doenca').sum()

                             total
tipo_doenca
COVID                            1
INDETERMINADA                 6988
INSUFICIENCIA_RESPIRATORIA  100608
OUTRAS                      660740
PNEUMONIA                   226352
SEPTICEMIA                  175533
SRAG                          1498

In [38]:
dados_2020.groupby('tipo_doenca').sum()

                             total
tipo_doenca
COVID                       195787
INDETERMINADA                 9713
INSUFICIENCIA_RESPIRATORIA   98978
OUTRAS                      690474
PNEUMONIA                   182081
SEPTICEMIA                  162864
SRAG                         16563

In [41]:
round(dados_2020.groupby('tipo_doenca').sum()/dados_2019.groupby('tipo_doenca').sum(),2)

                                total
tipo_doenca
COVID                       195787.00
INDETERMINADA                    1.39
INSUFICIENCIA_RESPIRATORIA       0.98
OUTRAS                           1.05
PNEUMONIA                        0.80
SEPTICEMIA                       0.93
SRAG                            11.06